<!-- Remove the container if you want to extend the Footer to full width. -->

<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: grey">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: CTA -->
            <section class="">
                <a href="#navbarSupportedContent" class="d-flex justify-content-center align-items-center"><button
                        class="btn btn-light">Back
                        to top</button></a>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #070d0d">
            © 2025 Copyright:
            <a class="text-white" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ/" target="_blank">Rafli
                Kurniawan</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>
<!-- End of .container -->