<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Personal Web | {{title}}</title>
  <link rel='stylesheet' href='{{cssPath}}' />
  <link rel='icon' type='image/x-icon' href='{{iconPath}}' />
</head>

<body>
  {{> navbar}}
  {{> @partial-block}}

</body>

</html>