<!-- NAV -->
{{!-- <style>
  /* Custom styles to match your original CSS */
  .navbar {
    background-color: var(--secondary-color);
    padding: 1em 3em;
  }

  .navbar-nav .nav-link {
    color: black;
  }

  .navbar-nav .nav-link:hover {
    color: grey;
  }

  .dropdown-menu {
    background-color: var(--secondary-color);
    border: 1px solid grey;
  }

  .dropdown-menu .dropdown-item {
    color: black;
  }

  .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-color);
  }

  .contactme {
    border: 1px solid black;
    padding: 5px 1em;
    border-radius: 10px;
    color: white;
    background-color: #070d0d;
    text-decoration: none;
  }
</style> --}}
{{!-- <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img src="img/dumbways.png" alt="Logo Dumbways" width="5%">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link {{#if (eq currentPage 'home')}}active{{/if}}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq currentPage 'myproject')}}active{{/if}}" href="/myproject">My Project</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="otherDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Others ⮟
          </a>
          <ul class="dropdown-menu" aria-labelledby="otherDropdown">
            <li><a class="dropdown-item {{#if (eq currentPage 'blog')}}active{{/if}}" href="/blog">Blog</a></li>
            <li><a class="dropdown-item {{#if (eq currentPage 'testimonial')}}active{{/if}}"
                href="/testimonial">Testimonial</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a class=" contactme {{#if (eq currentPage 'form')}}active{{/if}}" target="_blank" href="/form">Contact Me</a>
  </div>
</nav> --}}
{{!-- <nav>
  <ul>
    <img src='img/dumbways.png' alt='Logo Dumbways' width='7%' />
    <li><a href='/' class='{{#if (eq currentPage "home")}}active{{/if}}'>Home</a></li>
    <li><a href='/myproject' class='{{#if (eq currentPage "myproject")}}active{{/if}}'>My Project</a></li>
    <div class='dropdown'>
      <a href='#' class='other'>Others ⮟</a>
      <div class='content'>
        <a href='/blog' class='{{#if (eq currentPage "blog")}}active{{/if}}'>Blog</a>
        <a href='/testimonial' class='{{#if (eq currentPage "testimonial")}}active{{/if}}'>Testimonial</a>
      </div>
    </div>
  </ul>
  <a class='contactme {{#if (eq currentPage "form")}}active{{/if}}' target='_blank' href='/form'>Contact Me</a>
</nav> --}}
<!-- NAV -->
<!-- Navbar -->
<style>
  /* Color of the links BEFORE scroll */
  .navbar-scroll .nav-link,
  .navbar-scroll .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #262626;
  }

  /* Color of the navbar BEFORE scroll */
  .navbar-scroll {
    background-color: rgb(231, 223, 223);
  }

  /* Color of the links AFTER scroll */
  .navbar-scrolled .nav-link,
  .navbar-scrolled .navbar-toggler-icon,
  .navbar-scroll .navbar-brand {
    color: #262626;
  }

  /* Color of the navbar AFTER scroll */
  .navbar-scrolled {
    background-color: #fff;
  }

  /* An optional height of the navbar AFTER scroll */
  .navbar.navbar-scroll.navbar-scrolled {
    padding-top: auto;
    padding-bottom: auto;
  }

  .navbar-brand {
    font-size: unset;
    height: 3rem;
  }
</style>
<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-scroll shadow-0 border-dark fixed-top" data-mdb-navbar-init>
  <div class="container-fluid">
    <a href="#" class="p-0 m-0 ms-5"><img class="navbar-brand" src="/img/dumbways.png" alt=""></a>
    {{!-- <a class="navbar-brand" href="#!"><i class="fab fa-mdb fa-4x"></i></a> --}}
    <button class="navbar-toggler me-5" type="button" data-mdb-collapse-init data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto others">
        <li class="nav-item">
          <a class="nav-link {{#if (eq currentPage 'home')}}active{{/if}}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq currentPage 'myproject')}}active{{/if}}" href="/myproject">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq currentPage 'blog')}}active{{/if}}" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq currentPage 'testimonial')}}active{{/if}}" href="/testimonial">Testimonial</a>
        </li>
        <a href="/form" class="" style="padding:0"><button type="button" class=" btn btn-dark ">CONTACT ME</button></a>
      </ul>
    </div>
  </div>
</nav>