<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/blog-detail.css" />
  </head>
  <body>
    <nav>
      <ul>
        <img src="assets/img/dumbways.png" alt="Logo Dumbways" width="7%" />
        <li class="active"><a href="">Home</a></li>
        <li><a href="">My Project</a></li>
      </ul>
      <!-- <a class="contactme" target="_blank" href="https://shorturl.at/SFVoV">Contact Me</a> -->
    </nav>
    <section>
      <h1>Pasar Coding Indonesia</h1>
      <p>30 Jan 2025 11:45 | Muhammad Rafli Kurniawan</p>
      <img src="assets/img/cars.jpg" alt="" width="50%" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tempora quibusdam? Asperiores impedit, dolorum doloremque minima at officia! Ab incidunt perferendis, nostrum sequi eos atque, error ipsam magnam doloremque dolor
        commodi, minima enim? Deserunt, officiis. Nostrum totam dolores voluptates, perspiciatis saepe adipisci dolorum illum autem iusto accusantium reiciendis optio fugiat.
      </p>
    </section>
  </body>
</html>
