{{#>layout}}

{{!-- <html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Contact Form</title>
  <link rel='stylesheet' href='{{cssPath}}' />
  <link rel='icon' type='image/x-icon' href='{{iconPath}}' />
</head>

<body>
  <!-- NAV -->
  <nav>
    <ul>
      <img='img /dumbways.png' alt='Logo Dumbways' width='7%' />
      <li><a href=''>Home</a></li>
      <li><a href='myproject'>My Project</a></li>
      <div class='dropdown'>
        <a href='#' class='other'>Others ⮟</a>
        <div class='content'>
          <a href='blog'>Blog</a>
          <a href='testimonial'>Testimonial</a>
        </div>
      </div>
    </ul>
    <!-- <a class="contactme" target="_blank" href="form" >Contact Me</a> -->
  </nav>
  <!-- NAV --> --}}
  <h1 class="text-center"><b>GET IN TOUCH</b></h1>
  <form class='contact-form' action='' onsubmit='return submitForm(event)'>
    <div class='form-field'>
      <label for='name'>Name</label>
      <input type='text' id='name' required />
    </div>
    <div class='form-field'>
      <label for='email'>Email</label>
      <input type='email' id='email' required />
    </div>
    <div class='form-field'>
      <label for='phoneno'>Phone Number</label>
      <input type='text' id='phoneno' required />
    </div>
    <div class='form-field'>
      <label for='subject'>Subject</label>
      <select name='subject' id='subject' required>
        <option value=''>Select your subject!</option>
        <option value='Frontend'>Frontend</option>
        <option value='Backend'>Backend</option>
      </select>
    </div>
    <div class='form-field'>
      <label for='message'>Your Message</label>
      <textarea name='message' id='message' rows='5'></textarea>
    </div>
    <div class='text-end'>
      <button class='btn btn-dark mb-5' type='submit'>submit</button>
    </div>
  </form>
  {{!--
  <script src='/assets/js/form.js'></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    async function submitForm(event) {
      let name = document.getElementById('name').value;
      let email = document.getElementById('email').value;
      let phoneno = document.getElementById('phoneno').value;
      let message = document.getElementById('message').value;
      let subject = document.getElementById('subject').value;
      let toEmail = 'luigiguido45@gmail.com';
      event.preventDefault();
      await Swal.fire({
        icon: 'success',
        title: 'Thank You for Contacting Us',
        showConfirmButton: false,
        timer: 2000,
      }).then(() => {
        let a = document.createElement('a');
        a.href = `mailto:${toEmail}?subject=${subject}&body=${`Hello good sir, my name is ${name}, you can contact me at ${phoneno} or directly reply to this email, here's my message  : %0D%0A%0D%0A   ${message}`}`;
        a.click();
      })

      //   alert(name);
    }
  </script>
  {{!--
</body>

</html> --}}
{{/layout}}