{{#>layout}}
{{!-- <html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Personal Web</title>
    <link rel='stylesheet' href='{{cssPath}}' />
    <link rel='icon' type='image/x-icon' href='{{iconPath}}' />
  </head>
  <body> --}}
    {{!-- <!-- NAV -->
    <nav>
      <ul>
        <img src='img/dumbways.png' alt='Logo Dumbways' width='7%' />
        <li><a class='active' href=''>Home</a></li>
        <li><a href='myproject'>My Project</a></li>
        <div class='dropdown'>
          <a href='#' class='other'>Others ⮟</a>
          <div class='content'>
            <a href='blog'>Blog</a>
            <a href='testimonial'>Testimonial</a>
          </div>
        </div>
      </ul>
      <a class='contactme' target='_blank' href='form'>Contact Me</a>
    </nav>
    <!-- NAV --> --}}

    {{!-- {{>navbar}} --}}

    <!-- MAIN -->
    <div class='main-container'>
      <div class='main-left'>
        <h2>Hello World, Rafli here</h2>
        <p>
          With 5 years of experience in manufacturing, I’m now pursuing my passion in tech. Currently a 5th-semester Informatics Engineering student, and I’m on a journey to gain a job-ready knowledge of being Fullstack Developer at
          DumbWays ID.
          <br />
          Here are my credentials (it's actually just a picture of cats)
        </p>
        <div class='contactdownload'>
          <a class='contact' target='_blank' href='form'>contact</a>
          <a class='download' href='img/me.jpg' download>download CV &nbsp; <img src='img/download.svg' alt='' width='3%' /></a>
        </div>
        <div class='list'>
          <a class='link' target='_blank' href='https://shorturl.at/Ihc8V'><img src='img/twitter.svg' alt='' width='50%' /></a>
          <a class='link' target='_blank' href='https://shorturl.at/4sKhf'><img src='img/facebook.svg' alt='' width='50%' /></a>
          <a class='link' target='_blank' href='https://shorturl.at/BJzVV'><img src='img/github.svg' alt='' width='50%' /></a>
          <a class='link' target='_blank' href='https://shorturl.at/phGTN'><img src='img/linkedin.svg' alt='' width='50%' /></a>
        </div>
      </div>
      <div class='main-right'>
        <img src='img/self.JPG' alt='' width='100%' />
        <h2 style='text-align: center; margin: 0;'>Rafli Kurniawan</h2>
        <p style='text-align: center; margin: 0; '>Talent DumbWays ID</p>
      </div>
    </div>
    <!-- MAIN -->
    <script src='/js/learning/basics.js'></script>
  {{!-- </body>
</html> --}}
{{/layout}}