{{#>layout}}
{{!-- <html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Personal Web</title>
  <link rel='stylesheet' href='{{cssPath}}' />
  <link rel='icon' type='image/x-icon' href='{{iconPath}}' />
</head>

<body> --}}
  {{!-- <!-- NAV -->
  <nav>
    <ul>
      <img src='img/dumbways.png' alt='Logo Dumbways' width='7%' />
      <li><a class='active' href=''>Home</a></li>
      <li><a href='myproject'>My Project</a></li>
      <div class='dropdown'>
        <a href='#' class='other'>Others ⮟</a>
        <div class='content'>
          <a href='blog'>Blog</a>
          <a href='testimonial'>Testimonial</a>
        </div>
      </div>
    </ul>
    <a class='contactme' target='_blank' href='form'>Contact Me</a>
  </nav>
  <!-- NAV --> --}}

  {{!-- {{>navbar}} --}}

  <!-- MAIN -->
  {{#if messages.success}}
  <div class="alert alert-success text-center" role="alert">
    {{messages.success}}
  </div>
  {{/if}}
  <div class='main-container'>
    <div class='main-left'>
      <h2>Hello World, Rafli here</h2>
      <p>
        With 5 years of experience in manufacturing, I’m now pursuing my passion in tech. Currently a 6th-semester
        Informatics Engineering student, and I’m on a journey to gain a job-ready knowledge of being Fullstack
        Developer
        at
        DumbWays ID.
        <br />
        <b>Here are the skills that I've acquired so far as well as my credentials:</b>
      </p>
      <div class="skills">
        <img src="/assets/img/js.png" alt="JavaScript">
        <img src="/assets/img/git.png" alt="Git">
        <img src="/assets/img/postgres.png" alt="PostgreSQL">
        <img src="/assets/img/expressjs.png" alt="ExpressJS">
      </div>
      <div class='contactdownload'>
        <a class='contact' target='_blank' href='form'>contact</a>
        <a class='download' href='/assets/img/me.jpg' download>download CV &nbsp; <img src='/assets/img/download.svg'
            alt='Download CV' width='3%' /></a>
      </div>
      <div class='list'>
        <a class='link text-center p-0' target='_blank' href='https://twitter.com/rafli'><img
            src='/assets/img/twitter.svg' alt='twitter link' width='50%' /></a>
        <a class='link text-center p-0' target='_blank' href='https://facebook.com/rafli'><img
            src='/assets/img/facebook.svg' alt='facebook link' width='50%' /></a>
        <a class='link text-center p-0' target='_blank' href='https://github.com/mrkurniawan20/personal-web'><img
            src='/assets/img/github.svg' alt='github link' width='50%' /></a>
        <a class='link text-center p-0' target='_blank' href='https://linkedin.com/rafli'><img
            src='/assets/img/linkedin.svg' alt='linkedin link' width='50%' /></a>
      </div>
    </div>
    <div class='main-right'>
      <img src='/assets/img/self.JPG' alt='Self Potrait' />
      <h2 style='text-align: center; margin: 0;'><b>Rafli Kurniawan</b></h2>
      <p style='text-align: center; margin: 0; '>Talent DumbWays ID</p>
    </div>
  </div>
  <!-- MAIN -->
  <script src='/assets/js/learning/basics.js'></script>
  {{!--
</body>

</html> --}}
{{/layout}}