{{!-- <html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>My Project</title>
  <link rel='stylesheet' href='{{cssPath}}' />
  <link rel='icon' type='image/x-icon' href='{{iconPath}}' />
</head>

<body>
  <!-- NAV -->
  <nav>
    <ul>
      <img src='img/dumbways.png' alt='Logo Dumbways' width='7%' />
      <li><a href=''>Home</a></li>
      <li><a class='active' href='myproject'>My Project</a></li>
      <div class='dropdown'>
        <a href='#' class='other'>Others ⮟</a>
        <div class='content'>
          <a href='blog'>Blog</a>
          <a href='testimonial'>Testimonial</a>
        </div>
      </div>
    </ul>
    <a class='contactme' target='_blank' href='form'>Contact Me</a>
  </nav>
  <!-- NAV --> --}}

  {{#>layout}}
  <h1 class="text-center pt-2"><b>ADD MY PROJECT</b></h1>
  <!-- FORM -->
  <form action='' onsubmit='addProject(event)'>
    <div class='form-field'>
      <label for='name'>Project Name</label>
      <input type='text' id='name' required />
    </div>

    <div class='form-date'>
      <div class='start'>
        <label for='start'>Start Date</label>
        <input type='date' id='start' required />
      </div>
      <div class='end'>
        <label for='end'>End Date</label>
        <input type='date' id='end' required />
      </div>
    </div>
    <div class='form-field'>
      <label for='description'>Description</label>
      <textarea name='description' id='description' rows='5'></textarea>
    </div>
    <div class='form-field-tech'>
      <label for='technologies'>Technologies</label>
      <div class='grid-container'>
        <div class='grid'>
          <input type='checkbox' id='nodejs' value='nodejs' name='nodejs' />
          <label for='nodejs'>Node JS</label>
        </div>
        <div class='grid'>
          <input type='checkbox' id='nextjs' value='nextjs' name='nextjs' />
          <label for='nextjs'>Next JS</label>
        </div>
        <div class='grid'>
          <input type='checkbox' id='reacjs' value='reacjs' name='reacjs' />
          <label for='reacjs'>React JS</label>
        </div>
        <div class='grid'>
          <input type='checkbox' id='typescript' value='typescript' name='typescript' />
          <label for='typescript'>TypeScript</label>
        </div>
      </div>
    </div>
    <div class='form-field'>
      <label for='image'>Upload Image</label>
      <input type='file' id='image' name='image' />
    </div>
    <div class='text-end mb-5'>
      <button class='btn btn-dark' type='submit'>submit</button>
    </div>
  </form>

  <!-- PROJECT LIST -->
  <div class='project-list pb-5'>
    <h1 class="text-center">My Project</h1>
    <section class='project-container' id='project-container'>
      <article id='project' class='project'>
        <img src='img/image1.jpg' alt='' />
        <h2>Dumbways Mobile App - 2021</h2>
        <p class='relative-time'>durasi : 3 bulan</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, atque.</p>
        <ul class='skills'>
          <img src='img/nodejs.png' alt='' />
          <img src='img/react.png' alt='' />
          <img src='img/express.png' alt='' />
        </ul>
        <ul class='button2 text-center'>
          <button class='edit' id='edit'>edit</button>
          <button class='delete' id='delete' onclick='deleteProject()'>delete</button>
        </ul>
      </article>
    </section>
  </div>

  <script src='js/myproject.js'></script>
  {{/layout}}