{{!-- <html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>My Project</title>
  <link rel='stylesheet' href='{{cssPath}}' />
  <link rel='icon' type='image/x-icon' href='{{iconPath}}' />
</head>

<body>
  <!-- NAV -->
  <nav>
    <ul>
      <img src='img/dumbways.png' alt='Logo Dumbways' width='7%' />
      <li><a href=''>Home</a></li>
      <li><a class='active' href='myproject'>My Project</a></li>
      <div class='dropdown'>
        <a href='#' class='other'>Others ⮟</a>
        <div class='content'>
          <a href='blog'>Blog</a>
          <a href='testimonial'>Testimonial</a>
        </div>
      </div>
    </ul>
    <a class='contactme' target='_blank' href='form'>Contact Me</a>
  </nav>
  <!-- NAV --> --}}

  {{#>layout}}
  <h1 class="text-center pt-2"><b>ADD MY PROJECT</b></h1>
  <!-- FORM -->
  <form action='/project-add' method="post" enctype="multipart/form-data" onsubmit=''>
    <div class='form-field'>
      <label for='name'>Project Name</label>
      <input type='text' id='name' name="name" required />
    </div>

    <div class='form-date'>
      <div class='start'>
        <label for='start'>Start Date</label>
        <input type='date' id='start' name="start" required />
      </div>
      <div class='end'>
        <label for='end'>End Date</label>
        <input type='date' id='end' name="end" required />
      </div>
    </div>
    <div class='form-field'>
      <label for='description'>Description</label>
      <textarea name='description' id='description' rows='5' required></textarea>
    </div>
    <div class='form-field-tech'>
      <label for='technologies'>Technologies</label>
      <div class='grid-container'>
        <div class='grid'>
          <input type='checkbox' id='nodejs' value='nodejs.png' name='technologies' />
          <label for='nodejs'>Node JS</label>
        </div>
        <div class='grid'>
          <input type='checkbox' id='express' value='express.png' name='technologies' />
          <label for='express'>ExpressJS</label>
        </div>
        <div class='grid'>
          <input type='checkbox' id='reactjs' value='reactjs.png' name='technologies' />
          <label for='reactjs'>React JS</label>
        </div>
        <div class='grid'>
          <input type='checkbox' id='typescript' value='typescript.png' name='technologies' />
          <label for='typescript'>TypeScript</label>
        </div>
      </div>
    </div>
    <div class='form-field'>
      <label for='image'>Upload Image</label>
      <input type='file' id='image' name='image' required />
    </div>
    <div class='text-end mb-5'>
      <button class='btn btn-dark' type='submit'>create</button>
    </div>
  </form>
  {{/layout}}