{{#>layout}}

<head>
  {{!--
  <link rel='stylesheet' href='/css/testimonial.css' /> --}}
</head>
{{!-- <html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Testimonial</title>
  <link rel='stylesheet' href='/css/testimonial.css' />
  <link rel='icon' type='image/x-icon' href='{{iconPath}}' />
</head>

<body>
  <nav>
    <ul>
      <img src='img/dumbways.png' alt='Logo Dumbways' width='7%' />
      <li><a href='/'>Home</a></li>
      <li><a href='myproject'>My Project</a></li>
      <li><a href='blog'>Blog</a></li>
      <li class='active'><a href='testiomnial'>Testimonial</a></li>
    </ul>
    <a class='contactme' target='_blank' href='form'>Contact Me</a>
  </nav> --}}
  <main>
    <h1 class="text-center"><b>TESTIMONIALS</b></h1>
    <h4 class="text-center">Rating By Star</h4>

    <div class='star-button'>
      <button class="btn btn-dark" onclick='showAllTestimonials()'>All</button>
      <button class="btn btn-dark" onclick='filterTestimonialsByStar(1)'>1 ★</button>
      <button class="btn btn-dark" onclick='filterTestimonialsByStar(2)'>2 ★</button>
      <button class="btn btn-dark" onclick='filterTestimonialsByStar(3)'>3 ★</button>
      <button class="btn btn-dark" onclick='filterTestimonialsByStar(4)'>4 ★</button>
      <button class="btn btn-dark" onclick='filterTestimonialsByStar(5)'>5 ★</button>
    </div>

    <div class='testimonial-list' id='testimonial-list'>
      <div class="spinner-border text-warning" role="status">
      </div>
      <!-- <div class="testimonials">
          <img src="img/image1.jpg" alt="" />
          <i class="testi">Lorem ipsum dolor sit amet.</i>
          <p class="nama">Rafli Kurniawan</p>
          <p class="star">5★</p>
        </div> -->
    </div>
  </main>

  <!-- <script src="js/learning/basics.js"></script> -->
  <script src='/assets/js/testimonial.js'></script>
  {{!--
</body>

</html> --}}
{{/layout}}