/* IMPORTANT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root {
  --primary-color: #d1c5c5;
  --secondary-color: rgb(231, 223, 223);
  --tertiary-color: #fe4e30;
}
body {
  font-family: Poppins;
  font-size: larger;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}
.active {
  color: var(--tertiary-color);
  font-weight: bolder;
}

/* GENERAL ANCHOR */
a {
  text-decoration: none;
  padding: 1em 0;
  white-space: nowrap;
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  list-style-type: none;
  padding: 1em 3em;
}
nav ul {
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 40px;
}
nav li a,
.other {
  color: black;
}
.other:hover {
  color: grey;
}
.other:hover + .content {
  display: flex;
}
.content {
  display: none;
  /* display: flex; */
  position: absolute;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding-top: 0;
  border: 2px solid grey;
}
.content:hover {
  display: flex;
}
.content a {
  color: black;
  padding: 10px 5px;
}
.content a:hover {
  background-color: var(--primary-color);
}
.contactme {
  border: 1px solid black;
  padding: 5px 1em;
  border-radius: 10px;
  color: white;
  background-color: #070d0d;
}
.contactme:hover {
  background-color: grey;
  border: 1px solid grey;
}

/* MAIN CONTENT */
.container {
  width: 85%;
  height: 85%;
  background-color: var(--secondary-color);
  margin: 2em auto;
  border-radius: 10px;
  display: flex;
  padding: 3em;
}
.main-left {
  width: 50%;
  padding: 0 0 2em 0;
  margin: 2em auto;
}
.main-right {
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #aaaaaa;
  overflow: hidden;
}
h2 {
  margin-top: 0;
}
.list {
  width: 70%;
  display: flex;
  margin-left: -2.5em;
}

.contact {
  border: 1px solid black;
  padding: 5px 1.7em;
  border-radius: 100px;
  color: white;
  background-color: #070d0d;
}
.contact:hover {
  background-color: grey;
  border: 1px solid grey;
}
.download {
  color: black;
  margin-left: 20px;
  /* padding-left: 20px; */
}
.download:hover,
li a:hover {
  color: grey;
}
.link {
  text-align: center;
  padding: 0;
}
.link:hover {
  width: 80%;
}
p {
  text-align: justify;
}

.contactdownload {
  margin: 3em 0;
}
